@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&display=swap');
#vid {border: 1px solid black; width: 640px; height: 360px;}
.scene { padding: 0 50px; }
.scene p { font-size: 24px; line-height: 30px; width: 50%; }
body,
html {
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0ee;
  margin: 0px;
  padding: 0;
}
h1 {
text-align: center;
}
h2 {
    margin-top: 0;
}
h1, h2, h3 {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
}
nav {
overflow: hidden;
position: relative;
display: block;
text-align: center;
}
nav a {
text-decoration: none;
color: #636363;
}
nav a.link  {
display: inline;
padding: 20px 25px;
}
nav a.link b {
    color: #EF5350;
}
nav a:hover {
color: #212121;
text-decoration: underline;
}

.dropdown {
overflow: hidden;
display: inline;
padding: 20px 25px;
cursor: pointer;
}

.g b {
  font-size: 36px;
  color: white;
  position: relative;
  display: block;
  top: 12%;
  text-align: center;
  padding: 5%;
}

.panel button {
    padding: 15px 25px!important;
    font-size: 48px!important;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    background-color: white;
    color: #F57C00;
    border-radius: 10px;
    border: 0;
    transition: color 0.1s;
    transition: background-color 0.1s;
    cursor: pointer;
}
.panel button:hover {
    background-color: #212121;
    padding: 14px 24px!important;
    border: 1px solid #F57C00;
    color: white;
}

#placeholder1 {
  height: 100vh;
  background-color: grey;
}

#pinContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

#pinMaster {
  position: relative;
}

#footer {
  height: 100px;
  background-color: black;
}

.spacer {
  height: 600px;
}

.blue {
  background-color: #1976D2;
}
.turqoise {
  background-color: #0097A7;
}
.brown {
  background-color: #F57C00;
}
.bordeaux {
  background-color: #EF5350;
}

.black {
  background-color: #000000;
}
.green {
  background-color: #8BC34A;
}

.image {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 60px;
  position: absolute;
  right: 50px;
  bottom: 100px;
  color: white;
  text-align: center;
}

.imageRed {
  background: red;
}

.imageGreen {
  background: green;
}

.imageBlue {
  background: navy;
}

div.body {
    padding: 50px;
    border-top: 1px solid lightgray;
    background-color: #FAFAFA;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 28px;
}

li, p {
    font-size: 24px;
}

li p {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fafafa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid darkgray;;
    outline: none;
    transition: 0.4s;
    position: relative;
    font-size: 20px;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
  }

  .accordion::after{
    content: '▼';
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 15px;
  }

  .accordion.active::after{
    content: '▲';
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .drop {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }